$lightColor : white; //creating variable in 

header{
    @include HeaderStyle(flex, center);
    background-color: navy;
    color: $lightColor;
    button{
        padding: 5px 10px;
        margin-left: 10px;
        border: 2px solid red;
        border-radius: 5px;
        font-size: large;
        font-weight: bold;
        &:hover{
            background-color: red;
        }
    }
}
